<!DOCTYPE html>
<html>
  <head>
    <title>Desafio Intranett</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <nav class="navbar fixed-top navbar-dark bg-dark">    
     <%= link_to image_tag("task_logo_white.jpeg", :border=>0, :class => 'dock-item', size: "40x40") %>
      <a class="navbar-brand " href="#">Intranett - Gerenciamento de Tarefas</a>
      <span class="navbar-text">
        <% if current_user.present? %>
          <%="#{current_user.email} - "%>
          <%= link_to('Deslogar', destroy_user_session_path, method: :delete) %>  
        <% end %>  
      </span>
   </nav>

   <div id = "alert" style="margin-top:60px;">
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

   </div>  

    <div style="text-align:center; margin-top:100px; margin-bottom:100px">    
      <div style="width:80%; display: inline-block;">    
        <%= yield %>        
      </div>
    </div>

    <div id="modal-holder"></div>

    <footer id="sticky-footer" class="fixed-bottom py-4 bg-dark text-white-50">
    <div class="container text-center">
      <small>Copyright &copy; Intranett Challenge</small>
    </div>
    </footer>    

  </body>
</html>

<script type="text/javascript">
$(document).ready(function(){
  setTimeout(function(){
    $('#alert').fadeOut("slow");
  }, 2000);
 })
</script>

