<!DOCTYPE html>
<html>
  <head>
    <title>Desafio Intranett</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                 <%= link_to image_tag("team.png", :border=>0, :class => 'dock-item', size: "40x40") %>
                </li>
                <li class="nav-item" style="padding-left:30px;">
                    <a class="nav-link active" href="/teams">Equipes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/tasks">Tarefas</a>
                </li>               
            </ul>
        </div>
        <div class="mx-auto order-0">
            <a class="navbar-brand mx-auto" href="#">Intranett- Gerenciador de Tarefas</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <% if current_user.present? %>
          <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
              <ul class="navbar-nav ml-auto">
               <li class="nav-item">
                 <a class="nav-link" href="#">  <%="#{current_user.email} - "%></a>
               </li>
               <li class="nav-item">                 
                 <%= link_to image_tag("sign_out.png", :border=>0, :class => 'dock-item', size: "40x40"),destroy_user_session_path, method: :delete %>             
               </li>
              </ul>
          </div>
        <% end %>  
    </nav>
   

   <div id = "alert" style="margin-top:60px;">
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

   </div>  

    <div style="text-align:center; margin-top:100px; margin-bottom:100px">    
      <div style="width:80%; display: inline-block;">    
        <%= yield %>        
      </div>
    </div>

    <div id="modal-holder"></div>

    <footer id="sticky-footer" class="fixed-bottom py-4 bg-dark text-white-50">
    <div class="container text-center">
      <small>Copyright &copy; Intranett Challenge</small>
    </div>
    </footer>    

  </body>
</html>

<script type="text/javascript">
$(document).ready(function(){
  setTimeout(function(){
    $('#alert').fadeOut("slow");
  }, 2000);
 })
</script>

